<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
      Name="Tarjimon Office UZ"
      Manufacturer="Dostonjon Ashurov"
      Version="$(ProductVersion)"
      Scope="perMachine"
      UpgradeCode="6B7A9F1C-6B2A-4C8D-9F5E-1D6B6A9C7E21">

    <MajorUpgrade DowngradeErrorMessage="A newer version of Tarjimon Office UZ is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UIRef Id="TarjimonOfficeUZ_InstallDir" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="Tarjimon Office UZ">
        <Directory Id="WORDDIR" Name="Word" />
        <Directory Id="EXCELDIR" Name="Excel" />
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="ProgramFilesFolder">
      <Directory Id="REG32DIR" Name="Tarjimon Office UZ Registry" />
    </StandardDirectory>

    <Files Include="!(bindpath.TarjimonOfficeUZ.Word)\**" Directory="WORDDIR">
      <Exclude Files="!(bindpath.TarjimonOfficeUZ.Word)\**\*.pdb" />
    </Files>

    <Files Include="!(bindpath.TarjimonOfficeUZ.Excel)\**" Directory="EXCELDIR">
      <Exclude Files="!(bindpath.TarjimonOfficeUZ.Excel)\**\*.pdb" />
    </Files>

    <Component Id="WordAddinRegistration64" Directory="WORDDIR">
      <RemoveRegistryKey
          Root="HKCU"
          Key="Software\Microsoft\Office\Word\Addins\TarjimonOfficeUZ.Word"
          Action="removeOnInstall" />
      <RegistryKey Root="HKLM" Key="Software\Microsoft\Office\Word\Addins\TarjimonOfficeUZ.Word">
        <RegistryValue Name="Description" Type="string" Value="Tarjimon Office UZ Word add-in" />
        <RegistryValue Name="FriendlyName" Type="string" Value="Tarjimon Office UZ" />
        <RegistryValue Name="LoadBehavior" Type="integer" Value="3" />
        <RegistryValue Name="Manifest" Type="string" Value="file:///[WORDDIR]TarjimonOfficeUZ.Word.vsto|vstolocal" KeyPath="yes" />
      </RegistryKey>
    </Component>

    <Component Id="WordAddinRegistration32" Directory="REG32DIR" Bitness="always32">
      <RemoveRegistryKey
          Root="HKCU"
          Key="Software\Microsoft\Office\Word\Addins\TarjimonOfficeUZ.Word"
          Action="removeOnInstall" />
      <RegistryKey Root="HKLM" Key="Software\Microsoft\Office\Word\Addins\TarjimonOfficeUZ.Word">
        <RegistryValue Name="Description" Type="string" Value="Tarjimon Office UZ Word add-in" />
        <RegistryValue Name="FriendlyName" Type="string" Value="Tarjimon Office UZ" />
        <RegistryValue Name="LoadBehavior" Type="integer" Value="3" />
        <RegistryValue Name="Manifest" Type="string" Value="file:///[WORDDIR]TarjimonOfficeUZ.Word.vsto|vstolocal" KeyPath="yes" />
      </RegistryKey>
    </Component>

    <Component Id="ExcelAddinRegistration64" Directory="EXCELDIR">
      <RemoveRegistryKey
          Root="HKCU"
          Key="Software\Microsoft\Office\Excel\Addins\TarjimonOfficeUZ.Excel"
          Action="removeOnInstall" />
      <RegistryKey Root="HKLM" Key="Software\Microsoft\Office\Excel\Addins\TarjimonOfficeUZ.Excel">
        <RegistryValue Name="Description" Type="string" Value="Tarjimon Office UZ Excel add-in" />
        <RegistryValue Name="FriendlyName" Type="string" Value="Tarjimon Office UZ" />
        <RegistryValue Name="LoadBehavior" Type="integer" Value="3" />
        <RegistryValue Name="Manifest" Type="string" Value="file:///[EXCELDIR]TarjimonOfficeUZ.Excel.vsto|vstolocal" KeyPath="yes" />
      </RegistryKey>
    </Component>

    <Component Id="ExcelAddinRegistration32" Directory="REG32DIR" Bitness="always32">
      <RemoveRegistryKey
          Root="HKCU"
          Key="Software\Microsoft\Office\Excel\Addins\TarjimonOfficeUZ.Excel"
          Action="removeOnInstall" />
      <RegistryKey
          Root="HKLM"
          Key="Software\Microsoft\Office\Excel\Addins\TarjimonOfficeUZ.Excel">
        <RegistryValue Name="Description" Type="string" Value="Tarjimon Office UZ Excel add-in" />
        <RegistryValue Name="FriendlyName" Type="string" Value="Tarjimon Office UZ" />
        <RegistryValue Name="LoadBehavior" Type="integer" Value="3" />
        <RegistryValue Name="Manifest" Type="string" Value="file:///[EXCELDIR]TarjimonOfficeUZ.Excel.vsto|vstolocal" KeyPath="yes" />
      </RegistryKey>
    </Component>

  </Package>
</Wix>
